<section>

    <h2>Register new student</h2>

    <form action="" id="student-form">
        
        <label for="">Name</label>
        <input type="text" id="nameInput" required>

        <label for="">Email</label>
        <input type="email" id="emailInput" required>

        <label for="">Phone</label>
        <input type="number" id="phoneInput" required>

        <label for="">enroll Number</label>
        <input type="number" id="enrollInput" required>

        <label for="">date of admision</label>
        <input type="date" id="dateInput" required>

        <button type="submit">Save Student</button>
        <button type="submit">Cancel</button>

    </form>

</section>